{{!< default}}

<header {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{else}}class="no-cover{{/if}}">
  <h1>{{tag.name}}</h1>
  <h2>{{plural pagination.total empty="No posts" singular="% post" plural="% posts"}}</h2>
</header>

<main>
  {{> "loop"}}
</main>
